 <!--Start Slider Area-->
  <section id="slider" class="slider-area">
    <div class="item" style="background-image: url({{ file_url(content.field_banner_image['#items'].entity.uri.value) }});">
    <div id="particles-js"></div>
      <div class="overlay"></div>
      <div class="slide-caption">
        <div class="container">
          <div class="slider-inner">
            <h1 class="animated fadeInUpBig">{{ content.field_banner_title.0 }}</h1>
            <p class="animated fadeInUpBig">{{ content.field_banner_desc.0 }}</p>
            <a class="custom-btn animated fadeInDownBig" href="{{ content.field_banner_btn[0]['#url']|render }}">{{ content.field_banner_btn[0]['#title']|render }}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End Slider Area-->