
    <section id="blog">
      <div class="container">
        <div class="row wow fadeInUp" data-wow-delay="0.3s">
          <div class="col-md-9 col-lg-9 mx-auto text-center title-section">
            <h2 class="title">{{ content.field_blog_title.0 }}</h2>
            <p>{{ content.field_blog_desc.0 }}</p>
          </div>  
          
          {{ content.field_blog_listing.0 }}
             

        </div>
            
      </div>
    </section> 